<!DOCTYPE html>
<html lang="es">
    <script type="text/javascript">
     function getfolder(e) {
       var files = e.target.files;
       var path = files[0].webkitRelativePath;
       var Folder = path.split("/");
    }
    document.getElementById('flup').onchange = function() {
      console.log(this.value);
    }

    function validar() {
    //obteniendo el valor que se puso en el campo text del formulario
      var directoryForm = document.getElementById("directory").value;
      var direcVal = document.getElementById("files").value;
      //la condición
      if (directoryForm.length == 0 || /^\s+$/.test(directoryForm)) {
        alert('The field directory is empty!');
        return false;
      }
      if(direcVal==''){
            alert("Choose directory");
            return false; 
          }        
      return true;      
    }    
    </script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Formulario unir bases | Scrum Latam</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/master.css') }}">
    </head>
    <body>
        <div class="login-box">
            <img src="/static/img/logo.png" class="avatar" alt="Avatar Image">
            
            <form name ="formularioFiles" class="formularioTipo1" method="POST" action="{{url_for('joinFiles')}}" enctype=multipart/form-data onsubmit="return validar()">
              
              <br>
              <br>
              <!-- Choose INPUT -->
              <label for="filescsv">Choose the directory of files to join: *</label><br><br>
              <input type="file" id="flup" onchange="getfolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
              <br><br>              
              <br><br>
              <input id="submit" type="submit" value="Upload" onclick="">
            </form>
          </div>
    </body>
</html>