<!DOCTYPE html>
<html>
    <script type="text/javascript">
            function validar() {
              //obteniendo el valor que se puso en el campo text del formulario
              var fileNameScriptForm = document.getElementById("fileScript").value;
              //la condición
              if (fileNameScriptForm.length == 0 || /^\s+$/.test(fileNameScriptForm)) {
                alert('The field file is empty!');
              return false;
              }
              
              return true;
            }

            function goPython(){
            $.ajax({
              url: "/load.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
            }
        </script>
  <head>
    <meta charset="utf-8">
    <title>Community run events DB | Scrum Latam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/master.css') }}">
  </head>
  <body>    
    <div class="login-box">
      <img src="/static/img/logo.png" class="avatar" alt="Avatar Image">
      <form name ="formularioLoading" class="formularioTipo1" method="POST" enctype=multipart/form-data onsubmit="return validar()">
      <label for="file" name="fileScript">{{filenameH}}</label>
      <h3><strong>Loading...</strong></h3>
      <!--<input id="submit" type="submit" value="Upload">-->
      </u></b>
      </form>
    </div>
  </body>
</html>
